.bg-image {
  /* The image used */
  background-image: url("https://cdn.yeniakit.com.tr/images/news/625/evde-waffle-nasil-yapilir-waffle-hamuru-tarifi-ve-malzemeleri-h1582380766-dce7ca.jpg");
  
  /* Add the blur effect */
  filter: blur(5px);
  -webkit-filter: blur(5px);
  
  /* Full height */
  height:350px; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  height: 180px;
}
.vitrin-fiyat{
  color:rgb(255, 195, 0);
  font-weight: bold;
}
.form-container{
 margin-top: 100px;
 text-align: center;
 background-color: rgb(194, 208, 7);
 padding: 50px;

}
.form-container input,textarea{
 border-top:none;
 border-left: none;
 border-right: none;
 margin: 30px auto;
 background-color: rgb(194, 208, 7); 
 width: 100%;
}
.form-icon{
 display: flex;
 flex-direction: row;
}
input:focus , textarea:focus{
 outline: none;
}
h4{
 text-align: center;
}
input[type=submit]{
 background-color: rgb(205, 101, 32);
 color:white ;
 width: 30%;
 border-radius: 10px;
}